body{
  background-color: #29bfff;
  color: #fdffff;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
button{
  padding: 5px 20px;
  background-color: #fc9cca;
  border-style: none;
  color: #fdffff;
}
input{
  height: 25px;
}
